{% extends 'onrm2/base2.html' %}
{% load static %}

{% block body %}

  	<title>Registro Minero</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">


	<link rel="stylesheet" href="{% static 'css/archivo.css' %}">
     <section class="breadcrumbs float-right" style="background: transparent">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>

          <ol>
            <li><a href="{% url 'home' %}" style="color: #856404">Inicio</a></li>
            <li><a >Archivo Técnico</a></li>

          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->


		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>

        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span>Archivo Técnico</a>
          </li>
          <li class="active">
              <a href="{% url 'cpresencial' %}"><span class="mr-3"></span>Consulta Presencial</a>

          </li>
          <li class="active">
              <a href="{% url 'epersonalizada' %}"><span class="mr-3"></span>Entrega Personalizada</a>
           </li>
           <li class="active">
              <a href="{% url 'epresencial' %}"><span class="mr-3"></span>Entrega Presencial</a>
           </li>

            </ul>

         </nav>
         <div id="content" class="p-4 p-md-5 pt-5" style="color: black">
         <p><h2>Archivo t&eacute;cnico</h2>

        <p>La documentaci&oacute;n del archivo representa la inversi&oacute;n efectuada por el estado cubano y contiene valiosa informaci&oacute;n de valor cient&iacute;fico, hist&oacute;rico, docente, econ&oacute;mico y estrat&eacute;gico en la esfera de la actividad ge&oacute;logo-minera y petrolera.</p>

        <p>Los servicios que se ofrecen en el archivo t&eacute;cnico de la Oficina Nacional de Recursos Minerales est&aacute;n encaminados a satisfacer las necesidades de informaci&oacute;n t&eacute;cnica, cient&iacute;fica, hist&oacute;rica, etc, de todas las instituciones o personas vinculadas a la Geolog&iacute;a, Miner&iacute;a y el Petr&oacute;leo de la Rep&uacute;blica de Cuba.</p>

        <p>Todos los requerimientos est&aacute;n contenidos en la Resoluci&oacute;n No. 8 del 31 de marzo del 2003&nbsp;<a href="https://www.onrm.minem.cu/archivo/pdf/Resoluci%C3%B3n%208-2003%20ONRM%20Reglamento%20sobre%20el%20%20archivo.pdf" target="_blank">Reglamento sobre el funcionamiento del Archivo Geol&oacute;gico Minero Petrolero de la Oficina Nacional de Recursos Minerales.</a></p>

        <h3>Los servicios espec&iacute;ficos son los siguientes:</h3>

        <ul>
            <li><strong>Consulta presencial</strong>: consultas realizadas por los usuarios de forma directa sobre la informaci&oacute;n de los documentos conservados en el archivo. Para consultar esta informaci&oacute;n debe dirigir una solicitud a la ONRM , seg&uacute;n el modelo establecido para ello ( Solicitud de documentaci&oacute;n del archivo) y posteriormente presentarse a realizar la consulta en el sal&oacute;n de atenci&oacute;n al p&uacute;blico.</li>
            <li><strong>Entrega personalizada</strong>: servicio en l&iacute;nea de entrega al usuario de los resultados de una consulta espec&iacute;fica que por su volumen, grado de especificidad o complejidad prefiere trasmitirse a trav&eacute;s de un servicio FTP u otra v&iacute;a directa.</li>
            <li><strong>Entrega presencial</strong>: servicio de entrega personal al usuario como resultado de una consulta de informaci&oacute;n en el soporte que haya suministrado previamente el usuario. Para este servicio tiene que dirigirse a la entidad.</li>
        </ul></p>

          </div>
        </div>

     <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
     <script src="{% static 'vendor/js/popper.js' %}"></script>
     <script src="{% static 'vendor/js/main.js' %}"></script>

{% endblock %}