{% extends 'onrm2/base2.html' %}
{% load static %}

{% block body %}

  	<title>Registro Minero</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">


		<link rel="stylesheet" href="{% static 'css/registro.css' %}">
         <section class="breadcrumbs">
     <div class="d-flex justify-content-between align-items-center">
          <h2></h2>

          <ol>
            <li><a href="{% url 'home' %}" style="color: #856404">Inicio</a></li>
            <li><a href="{% url 'archivo' %}" style="color: #856404">Archivo Técnico</a></li>
            <li><a >Entrega Personalizada</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->


		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary " data-toggle="button" aria-pressed="true"></button>
        </div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'archivo' %}"><span class="mr-3"></span>Archivo Técnico</a>
          </li>
          <li class="active">
              <a href="{% url 'cpresencial' %}"><span class="mr-3"></span>Consulta Presencial</a>

          </li>
          <li class="">
              <a href="#"><span class="mr-3"></span>Entrega Personalizada</a>
           </li>
           <li class="active">
              <a href="{% url 'epresencial' %}"><span class="mr-3"></span>Entrega Presencial</a>
           </li>

            </ul>

         </nav>
         <div id="content" class="p-4 p-md-5 pt-5" style="color: black">
             <p><h2>Entrega Personalizada</h2>

            <h3>&iquest;Como realizar una entrega personalizada?</h3>

            <p>Usted debe contactar con los especialistas del archivo y exponer las razones que justifiquen que por su volumen, grado de especificidad o complejidad prefiere o necesita que la informaci&oacute;n requerida se le envie a trav&eacute;s de un servicio FTP u otra v&iacute;a directa con previo acuerdo.</p>

            <p>El archivo se reserva el derecho de limitar el acceso a la informaci&oacute;n en dependencia de la utilizaci&oacute;n de la misma a favor de los mejores intereses del estado cubano y teniendo en cuenta el grado de conservaci&oacute;n de los documentos.</p></p>
                     </div>
     </div>
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
     <script src="{% static 'vendor/js/popper.js' %}"></script>
     <script src="{% static 'vendor/js/main.js' %}"></script>

{% endblock %}