<!DOCTYPE html>

{% extends "onrm2/base2.html" %}
{% load static %}

{% block body %}
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
     <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Noticias</h2>

          <ol>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li>Noticias</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->
    <div class="container">

        <div class="row">

          <!-- Blog Entries Column -->
          <div class="col-md-8">

            <h1 class="my-4">No se encontraron resultados<br>
              <small> Regrese a las noticias y haga otra busqueda</small>
            </h1>
          </div>
            </div>

         </div>

    <!-- /.row -->

{% endblock %}
