{% extends "onrm2/base2.html" %}
{% load static %}
{% block body %}

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Noticias</h2>

          <ol>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li>Noticias</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">
            {% if noticias %}


            {% for noticia in noticias%}
            <article class="entry">

              <div class="entry-img">
                <img src="{{ noticia.imagen.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> {{ noticia.author }}</li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i>{{ noticia.created|date }} </li>
                 </ul>
              </div>

              <div class="entry-content">
                <p>{{ noticia.resumen }}</p>
                <div class="read-more">
                  <a href="{{ noticia.get_absolute_url }}">Leer mas</a>
                </div>
              </div>
                    {% endfor %}
            {% else %}
               <h2 class="my-4">No se encontraron resultados para <p style="color: black">{{ query }}</p>
             {% endif %}


            {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">
         {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          </li>
             {% endif %}
            {% if page_obj.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          </li>
              {% endif %}
            </ul>
      {% endif %}
          </div><!-- End blog entries list -->

          <div class="col-lg-4">
            <div class="sidebar">

              <h3 class="sidebar-title">Buscar</h3>
              <div class="sidebar-item search-form">
                <form action="{% url 'resultados_busqueda' %}" method="GET">
                  <input type=type="text" class="form-control" name="scan" placeholder="Busqueda...">
                  <button type="submit" type="submit" name= "buscar" value="Buscar"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Resultados</h3>
              <div class="sidebar-item recent-posts">
              {% if noticias %}
               {% for noticia in noticias%}

                  <div class="post-item clearfix">
                  <img src="{{ noticia.imagen.url }}" alt="">
                  <h4><a href="{{noticia.get_absolute_url}}">{{ noticia.titulo }}</a></h4>
                   <time> {{ noticiaa.created|date }}</time>
                  </div>
                    {% endfor %}
              {% else %}
              <p>No se encontraron resultados</p>
              {% endif %}



              </div><!-- End sidebar recent posts-->



            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div><!-- End .row -->

      </div><!-- End .container -->

    </section><!-- End Blog Section -->
  {%endblock%}
