<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ONRM | Oficina Nacional de Recursos Minerales</title>
    {% load static %}
     <link rel="icon" type="image/png"  href="{% static 'img/logoup.png' %} " >
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'css/Lightbox-Gallery.css'  %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="active" style="background-color: #f7f7f7">

           <nav class="navbar navbar-light navbar-expand-md bg-dark sticky-top">
                <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" ></span></button>
                    <a href="{% url 'home' %}"> <img src="{% static 'img/logo_smallpaint1.png' %}"></a>
                    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
                        id="navcol-1">
                        <ul class="nav navbar-nav {% if request.path == '/' %} active{% endif %}">
                            <li class="nav-item">
                                <a class="nav-link bg-dark" href="{% url "home" %}" style="background-color: rgba(0,0,0,0.1);color: #fca311;">
                                    <strong>Inicio</strong>
                                </a>
                            </li>
                             <li class="nav-item {% if request.path == '/noticias' %} active{% endif %}" >
                                <a class="nav-link bg-dark" href="{% url "noticias" %}" style="background-color: rgba(0,0,0,0.1);color: #fca311;">
                                    <strong>Noticias</strong>
                                </a>
                            </li>
                            <li class="nav-item {% if request.path == '/registro' %} active{% endif %}">
                                <a class="nav-link bg-dark" href="{% url 'registro' %}" style="background-color: rgba(0,0,0,0.1);color: #fca311;">
                                    <strong>Registro Minero-Petrolero</strong>
                                </a>
                            </li>
                            <li class="nav-item {% if request.path == '/archivo' %} active{% endif %}" role="presentation">
                                <a class="nav-link bg-dark" href="{% url 'archivo' %}" style="background-color: rgba(0,0,0,0.1);color: #fca311;">
                                    <strong>Archivo Técnico</strong>
                                </a>
                            </li>
                        </ul><button class="btn btn-primary" type="button">Contáctenos</button></div>
                </div>
            </nav>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->


 {% block body %}


 {% endblock %}


<div class="bg-dark footer-dark" style="background-color: rgba(0,0,0,0.1);">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3 style="color: #fca311;font-size: 18px;">Vinculos Externos</h3>
                        <ul>
                            <li><a href="#" style="color: #c6930a;font-size: 16px;">Ministerio de Energia y Minas</a></li>
                            <li><a href="#" style="color: #c6930a;font-size: 16px;">Cuba Petroleo-CUPET</a></li>
                            <li style="color: #c6930a;"><a href="#" style="font-size: 16px;">IGP</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 style="color: #c6930a;font-size: 18px;">Secciones</h3>
                        <ul>
                            <li style="font-size: 16px;"><a href="#" style="color: #c6930a;"></a></li>
                            <li><a href="#" style="color: #c6930a;font-size: 16px;">Estructura</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3 style="color: #c6930a;font-size: 18px;">Oficina Nacional de Recursos Minerales</h3>
                        <p style="color: #c6930a;">Calle Calzada (7ma) Número 852, entre 4 y 6, Vedado, Plaza de la Revolución, La Habana.<br>telefono 7833-0540&nbsp; 7833-0541<br><br></p>
                    </div>
                </div>
                <div class="d-flex">
                    <ul class="list-inline mx-auto justify-content-center">
                        <li class="list-inline-item">
                         <a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/onrm6?lang=es">
                            <span class="fa fa-twitter"></span>
                         </a>
                         </li>
                        <li class="list-inline-item">
                         <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/oficinanacionalrecursosminerales/">
                            <span class="fa fa-facebook"></span>
                         </a>
                        </li>
                         <li class="list-inline-item">
                         <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/company/onrm55">
                            <span class="fa fa-linkedin"></span>
                         </a>
                        </li>
                         <li class="list-inline-item">
                         <a class="btn btn-block btn-social btn-instagram" href="https://www.instagram.com/onrm55/">
                            <span class="fa fa-instagram"></span>
                         </a>
                        </li>
                </ul>
              </div>
                <p class="copyright">Actualizado</br>
                    OFICINA NACIONAL DE RECURSOS MINERALES © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/bs-init.js'  %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
 </body>
</html>
